<ion-content [fullscreen]="true">
	<div id="follower_container" *ngIf="!isInitiator" style="text-align: center;">
		<div *ngIf="!isConnected">
			<!-- <input type="text" placeholder="Your name" [(ngModel)]="followerName" maxlength="11"> -->
			<ion-input class="name_input" label="Your name" labelPlacement="stacked" [(ngModel)]="followerName" maxlength="11" color="primary" ng-style="{'width': 100px}"></ion-input>
			<p>{{predictedDigits}}</p>
			<!-- Fallback for iOS PWA -->
			<input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event)" />

			<!-- Trigger the file input -->
			<div *ngIf="model">
				<ion-button expand="full" (click)="captureImage()">
					<ion-icon slot="start" name="image"></ion-icon>
					Scan from file
				</ion-button>

				<ion-button expand="full" (click)="startScan()">
					<ion-icon slot="start" name="camera"></ion-icon>
					Scan from camera
				</ion-button>
			</div>
			<ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
				<ion-icon slot="start" name="refresh"></ion-icon>
				Reset
			</ion-button>
			<ion-list *ngIf="scanActive">
				<ion-item>
				  <ion-select aria-label="cameras" placeholder="Select camera" [(ngModel)]="deviceId" (ionChange)="restartScan()">
					<ion-select-option *ngFor="let device of devices | keyvalue" value="{{device.key}}">{{device.value}}</ion-select-option>
				  </ion-select>
				</ion-item>
			  </ion-list>
			<!-- Shows our camera stream -->
			<video playsinline autoplay #video width="40%"></video>

			<!-- Used to render the camera stream images -->
			<canvas #canvas style="display: none;"></canvas>
			<img [src]="croppedImage"/>

			<!-- Stop our scanner preview if active -->
			<ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
				<ion-icon slot="start" name="close"></ion-icon>
				Stop scan
			</ion-button>
		</div>
	</div>
	<div class="connected_stage" *ngIf="isConnected">
		<div>
			<h2>Connected</h2>
			<ion-button color="danger" (click)="disconnect()">Disconnect</ion-button>
		</div>

		<div class="transfer_file_form_wrapper">
			<form class="transfer_file_form">
				<input type="file" (change)="uploadFile($event)" />
				<ion-button type="submit" (click)="transferFile()">
					Transfer file
				</ion-button>
			</form>
		</div>

		<div>
			<input type="text" [(ngModel)]="message" placeholder="Enter message to send" />
			<ion-button (click)="sendMessage()">Send Message</ion-button>
		</div>
		<div>
			<p *ngIf="messagesLog.length > 0">Messages:</p>
			<p *ngFor="let messageL of messagesLog" class="selectable">{{messageL}}</p>
		</div>
	</div>

	<!-- to download the font immediately -->
	<p class="t">.</p>
</ion-content>

