<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			INIMATIC |
			<ion-button [routerLink]="['/follower']" *ngIf="isInitiator" size="small">Phone page</ion-button>
			<ion-button routerLink="/home" *ngIf="!isInitiator" size="small">PC page</ion-button>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div id="follower_container" *ngIf="!isInitiator" style="text-align: center;">
		<div *ngIf="!isConnected">
			<input type="text" placeholder="Your name" [(ngModel)]="followerName">

			<!-- Fallback for iOS PWA -->
			<input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event)" />

			<!-- Trigger the file input -->
			<ion-button expand="full" (click)="captureImage()">
				<ion-icon slot="start" name="image"></ion-icon>
				Scan from file
			</ion-button>

			<ion-button expand="full" (click)="startScan()">
				<ion-icon slot="start" name="camera"></ion-icon>
				Scan from camera
			</ion-button>

			<ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
				<ion-icon slot="start" name="refresh"></ion-icon>
				Reset
			</ion-button>

			<!-- Shows our camera stream -->
			<video playsinline autoplay #video width="60%"></video>

			<!-- Used to render the camera stream images -->
			<canvas #canvas style="opacity: 0;"></canvas>

			<!-- Stop our scanner preview if active -->
			<ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
				<ion-icon slot="start" name="close"></ion-icon>
				Stop scan
			</ion-button>
		</div>
	</div>
	<div class="connected_stage" *ngIf="isConnected">
		<div>
			<h2>Connected</h2>
		</div>

		<div class="transfer_file_form_wrapper">
			<form class="transfer_file_form">
				<input type="file" (change)="uploadFile($event)" />
				<ion-button type="submit" (click)="transferFile()">
					Transfer file
				</ion-button>
			</form>
		</div>

		<div>
			<input type="text" [(ngModel)]="message" placeholder="Enter message to send" />
			<ion-button (click)="sendMessage()">Send Message</ion-button>
		</div>
		<div>
			<p *ngIf="messagesLog.length > 0">Messages:</p>
			<p *ngFor="let messageL of messagesLog">{{messageL}}</p>
		</div>
	</div>
</ion-content>
