.connected_stage {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
#follower_container {
	text-align: center;
}

.transfer_file_form {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
	gap: 10px;

	button {
		padding: 15px 10px;
		font-size: 15px;
	}
}
