<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INIMATIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Open Inimatic application on your phone</strong>
    <p>and point it to the screen</p>
    <p>{{sessionID}}</p>
    <qrcode [qrdata]="sessionID" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

  </div>
</ion-content>
