<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INIMATIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="isInitiator">
      <strong>Open Inimatic application on your phone</strong>
      <p>and point it to the screen</p>
    </div>
    <div *ngIf="! isInitiator">
      <strong>Is not Initiator</strong>
    </div>
    <p>{{sessionID}}</p>
    <qrcode [qrdata]="sessionID" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <div>
      <label for="outgoing">Outgoing Signal Data:</label>
      <textarea id="outgoing" [(ngModel)]="outgoingSignal" readonly></textarea>
      <button (click)="copyToClipboard(outgoingSignal)">Copy Signal Data</button>
    </div>
    <div>
      <label for="incoming">Incoming Signal Data:</label>
      <textarea id="incoming" [(ngModel)]="incomingSignal"></textarea>
    </div>
    <button (click)="connect()">Connect Using Incoming Data</button>
    <button (click)="send()">Send Message</button>

  </div>
</ion-content>
